<div class="container">
    <div class="subcontainer">


    
        
<form #form="ngForm" (ngSubmit)="hello()">
       <select [(ngModel)]="chosenObj" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let data of clients" [ngValue]="data">
      {{ data.clientName }} {{data.clientSurname}}
    </option>
  </select>

<button type="submit">Ok</button>
</form>

  

       

       



       
        <!-- <label for="bodyMail">Wpisz opis: </label><br><br>
        <textarea class="description" type="text" name="description" ngModel required></textarea> -->

       
        







    </div>
</div>
