<div class="container">
    <div class="subcontainer">



<form #mailForm="ngForm" (ngSubmit)="hello(mailForm.value)" ngNativeValidate>
    
  <div class="in">
  <label for="clientOption">Email: </label>
  
  <select name="id" ngModel>
    <option *ngFor="let data of clients" [value]="data.id">{{data.clientName}}</option>
  </select>
  </div>
 



  <div class="in">
    <br>
  <label for="bodyMail">Wiadomość: </label><br><br>
  <textarea class="info" type="text" name="description" placeholder="W czym mogę Ci pomóc?" ngModel required></textarea>
  </div>



  <input class="btn" type="submit" value="Wyślij">
</form>







  

       

       



       
        <!-- <label for="bodyMail">Wpisz opis: </label><br><br>
        <textarea class="description" type="text" name="description" ngModel required></textarea> -->

       
        







    </div>
</div>
