@import "bootstrap/scss/bootstrap";


@media only screen and (min-width: 420px){
.mycontainer{
     margin-top: 170px;
     font-family: 'Montserrat', sans-serif;
   
    

    .subcontainer{
        text-align: center;
        padding-bottom: 150px;
        

      
        .form-select{
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        margin-top: 10px;
        margin-bottom: 3.5px;
        font-weight: 600;
        }
        h3{
            margin-top: 22px;
            font-weight: 800;
        }
        .form-control{
            margin-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
        }

        textarea{
            
            width: 600px;
            height: 250px;
            font-weight: 600;
        }

        .btn-dark{

            width: 600px;
            

        }
        .btn-dark2{
            margin-top: 20px;
            
            font-weight: 600;
           }
        
    }
}
}
@media only screen and (max-width: 420px){
    .mycontainer{
        margin-top: 50px;
        font-family: 'Montserrat', sans-serif;
        
      
       
   
       .subcontainer{
           text-align: center;
           padding-bottom: 90px;
   
         
           .form-select{
               width: 80%;
               display: block;
               margin-left: auto;
               margin-right: auto;
           margin-top: 10px;
           margin-bottom: 3.5px;
           font-weight: 600;
           }
           h3{
               margin-top: 22px;
               font-weight: 800;
           }
           .form-control{
               margin-top: 10px;
               display: block;
               margin-left: auto;
               margin-right: auto;
               font-weight: 600;
           }
   
           textarea{
              
               width: 80%;
               height: 280px;
               font-weight: 600;
           }
   
           .btn-dark{
   
               width: 80%;
               
   
           }
           .btn-dark2{
            margin-top: 20px;
            
            font-weight: 600;
           }
           
       }
       
       
       


   }

}