<div class="mycontainer">
    <div *ngIf="response2" class="subcontainer">



<form #descriptionForm="ngForm" (ngSubmit)="hello(descriptionForm.value)" ngNativeValidate>
    
  <div class="form-group">
  <label for="clientOption"><h3>Klienci:</h3></label>
  
  <select class="form-select" name="id" ngModel required>
    <option value="" selected disabled hidden>-- Wybierz klienta --</option>
    <option *ngFor="let data of clients" [value]="data.id">{{data.clientSurname}} {{data.clientName}}</option>
  </select>
  </div>
 



  <div class="form-group">
    
  <label for="bodyMail"><h3>Opis:</h3></label>
  <textarea class="form-control" type="text" name="description" placeholder="Dodaj opis" ngModel required></textarea>
  </div>



  <input class="btn btn-dark" type="submit" value="Dodaj">
</form>

<div *ngIf="!response2" style="margin-top: 350px;"class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>







  

       

       



       
        <!-- <label for="bodyMail">Wpisz opis: </label><br><br>
        <textarea class="description" type="text" name="description" ngModel required></textarea> -->

       
        







    </div>
</div>
