<div class="mycontainer">
    <div class="subcontainer">


        <form #deleteForm="ngForm" (ngSubmit)="deleteClient(deleteForm.value)" ngNativeValidate>
    
            <div class="form-group">
            <label for="clientOption">Klienci: </label>
            
            <select class="form-select" name="id" ngModel>
              <option value="" selected disabled hidden>-- Wybierz klienta --</option>
              <option *ngFor="let client of clients" [value]="client.id">{{client.clientSurname}} {{client.clientName}}</option>
            </select>
            </div>
           
          
          
          
           
          
          
          
            <input class="btn btn-dark" type="submit" value="Usuń">
          </form>

          <input class="btn btn-dark2" type="button" (click)="goBack()" value="Powrót">















    </div>
</div>
