.container{
  position: relative;  
  top: 20%;
    margin: 3em;
    text-align: center;
    padding: 2em;
    display: block;
    


    .profil{
      width: 400px;
      height: auto;
      border-radius: 50%;
    }

    
}

/*.footer{
  position: relative;
  bottom: 0;

  .imagesFooter{
 .imageFooter{
  width: 40px;
  height: auto;
  margin: 4px;
 }}
 
 .signFooter{
 .sign{
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
 }}
}*/
