
<div [@popState]="stateOfImg" class="container"> 

<img class="profil" src="{{imageOneProfil?.url}}">

<div class="description">
    
        Nazywam się Karolina ale wszyscy mówią do mnie Bieszczii 
        dlatego powstało Hair by Bieszczii. Swoją przygodę z kreowaniem 
        wizerunku kobiety rozpoczęłam w  2-letniej szkole stylizacji i 
        wizażu Artystyczna Alternatywa w Krakowie. Następnie pogłębiałam 
        swoją wiedzę na temat fryzjerstwa w warszawskiej szkole Beauty Art, 
        którą ukończyłam z wyróżnieniem. Już w trakcie nauki pracowałam w 
        renomowanych salonach fryzjerskich gdzie miałam możliwość pracować 
        przy różnych sesjach zdjęciowych, oraz doskonalić Warsztat 
        fryzjerski w licznych kursach i szkoleniach takich jak Loreal 
        Blond Professional, Wella Blond Professional, oraz kurs z 
        zabiegów witaminowych na włosy, prostowania keratynowego i 
        biksiplastii. Moją wiedzę i doświadczenie pragnę wdrożyć we 
        własnym salonie, gdzie serdecznie was zapraszam.
    
</div>
</div>