//PC
@media only screen and (min-width: 420px){

.container{
    margin-top: 7em;
    text-align: center;
    display: block;
    padding-bottom: 150px;
    
   .profil{
      width: 300px;
      height: auto;
      border-radius: 50%;
      margin-top: 150px;
    }

    .description{
      margin-top: 30px;
      margin-right: 25%;
      margin-left: 25%;
    
      a{
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      
    }
  }
}
}

//Phone
@media only screen and (max-width: 420px){

  .container{
      margin-top: 6em;
      
      padding-bottom: 150px;
      text-align: center;
    
     .profil{
        width: 260px;
        height: auto;
        border-radius: 50%;
        
        
            
            -webkit-box-shadow: 0px 0px 31px -14px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 31px -14px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 31px -14px rgba(0, 0, 0, 1);
      }
      
      .description{
      margin-top: 30px;
      margin-right: 5%;
      margin-left: 5%;
      font-family: 'Sen', sans-serif;
      font-size: auto;
      text-align: left;
      
    
  }
}
}