
<div *ngIf="response2" class="mycontainer">

<div [@popSlideState]="stateOfImg" class="small-container">
  
   <h2>Napisz do mnie</h2> 

   <form #mailForm="ngForm" (ngSubmit)="mailSend(mailForm.value)" ngNativeValidate>
    
        <div class="group">
        <!-- <label for="senderMail">Mail: </label> -->
          <p class="title"> Email</p>
        <input class="control" type="email" name="senderMail" placeholder="Wpisz swój e-mail" ngModel required>
        </div>
    
        <div class="group">
        <!-- <label for="subjectMail">Temat: </label> -->
          <p class="title">Temat</p>
        <input class="control" type="text" name="subjectMail" placeholder="Podaj temat"  ngModel required>
        </div>

        
    
        <div class="text-group">
        <!-- <label for="bodyMail">Wiadomość: </label> -->
        <p class="text-title">Wiadomość</p>
        <textarea class="text-control" type="text" name="bodyMail" placeholder="W czym mogę Ci pomóc?" ngModel required></textarea>
        </div>
        <div *ngIf="!responseBool" class="ErrorCaptcha">
          <p class="ErrorCaptchaMessage">Proszę o zaznaczenie pola "Nie jestem Robotem"</p>
        </div>

        <div class="recap_container">
          <re-captcha class="recap" name="recaptchaResponse" siteKey="6Lf8smkiAAAAAJC70ikUtGBS2zqqgMCzcleLlhIe" ngModel></re-captcha>
         
          <input class="mybtn" type="submit" value="Wyślij">
        </div>
       
        
        

      </form>
</div>

</div>
<div *ngIf="!response2" style="margin-top: 350px;"class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
  

</div>



