<div class="mycontainer" [@popState]="stateOfImg">
    <div class="subcontainer">

<div class="buttons">
      <button class="btn btn-dark" (click)="comeBack()">Powrót</button>
      <button class="btn btn-dark" *ngIf="sortButtonVisible" (click)="sortReverse()">Sortuj  \</button>
      <button class="btn btn-dark" *ngIf="!sortButtonVisible" (click)="sortNormal()">Sortuj  /</button>

</div>
      
<form #presentationForm="ngForm" (ngSubmit)="getClientDescriptions(presentationForm.value)">
  
   <div class="form-group">
      
      <label for="clientOption"><h3>Baza Klientów</h3></label><br>
         
          <select class="form-select" name="id" ngModel required>
            <option value="" selected disabled hidden>-- Wybierz klienta --</option>
            <option *ngFor="let data of clients" [value]="data.id">{{data.clientSurname}} {{data.clientName}}</option>
          </select>
              <button class="btn btn-dark">Pokaż</button>
            
    </div>

    <div class="presentation">
  
      <div class="number">
       Numer telefonu:<br>
       <!-- <a href="tel: +48-'+c'"> TODO--><div class="subnumber">{{client?.phoneNumber}}</div>
      </div>
      <div class="description"   *ngFor="let description of client?.descriptions" >
        
      <div class="date">{{description.workDate}}</div> 
      <!-- <div class="hair-text">{{description.description}}</div> -->
       
          <textarea class="hair-text"  [value]="description.description" #descriptionInput></textarea>
          <button class="mybtn" (click)="updateText(user_id, description.id, descriptionInput); getClientDescriptions(presentationForm.value)">Zmień</button>
          
        
          <button class="btn btn-dark" (click)="deleteDescription(description.id, user_id); getClientDescriptions(presentationForm.value)">Usuń</button>
        
      </div>
      </div>
</form>
</div>
</div>