// @import "bootstrap/scss/bootstrap";



@media only screen and (min-width: 420px){
.mycontainer{
     margin-top: 150px;
     text-align: center;

width: 80%;
padding-top: 50px;
margin-left: auto;
margin-right: auto;

margin-bottom: 150px;
padding-bottom: 50px;

     .subcontainer{
          margin-left: auto;
          margin-right: auto;
          font-family: 'Sen', sans-serif;
          font-weight: 800;

.buttons{

     
     


          .btn-dark{
               
               margin: 8px;
               width: 300px;
               height: 40px;
                   background-color: black;
                   color: white;
                   border: none;
                   font-family: 'Sen', sans-serif;
                   border-radius: 5px;
                   cursor: pointer;
           }
           .btn-dark:hover{
               -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
               -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
               box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
               background-color: #2e2e2e;
           }
     }

          label{
               margin-bottom: 0px;
          }

          .form-group{

               margin-top: 33px;

          .form-select{
               width: 400px;
               height: 50px;
               display: inline;

              
               font-weight: 600;
               font-family: 'Sen', sans-serif;
               
               border: solid 1px gray;
               border-radius: 5px;
               cursor: pointer;
               
               
             
          }

          .btn-dark{
               width: 100px;
               height: 45px;
               display: inline;
               margin-bottom: 4px;
               margin-left: 10px;

              
                   background-color: black;
                   color: white;
                   border: none;
                   font-family: 'Sen', sans-serif;
                   border-radius: 5px;
                   cursor: pointer;
          }
          .btn-dark:hover{
               -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
               -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
               box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
               background-color: #2e2e2e;
           }

     }

          .presentation{
               text-align: center;
               
               form{
                    background-color: white;
               }
               

               .number{
                    width: 45%;
                    height: 60px;
                    padding-top: 10px;
                    text-align: center;
                    background-color: white;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    border-radius: 6px;

                    .subnumber{
                         margin-top: 3px;
                         background-color: white;
                    }
                    
               }
               .description{
                    width: 78%;
                    height: auto;
                    background-color: white;
                    border-radius: 6px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 0px;
                   

                    .date{
                      float: left;  
                      background-color: white;
                      padding-left: 4px;
                      margin-bottom: 0px;
                    }
                    textarea{
                      background-color: white;
                      padding: 0px;
                      margin-left: 30px;
                      margin-right:10px;
                      margin-bottom: 0px;
                      margin-top: 10px;
                      width: 440px;
                      height: 150px;
                      font-family: 'Sen', sans-serif;
                      border: solid 1px white;
                      border-radius: 5px;
                      resize: none;
                      
                    }
                    .btn-dark{
                         height: 40px;
                         // margin-bottom: 7px;
                         width: 100%;
                         bottom: auto;
                         //margin: 8px;
               
                   background-color: black;
                   color: white;
                   border: none;
                   font-family: 'Sen', sans-serif;
                   border-radius: 5px;
                   cursor: pointer;
                    }
                    .mybtn{
                         height: 40px;
                         width: 100%;
                         bottom: auto;
                         //margin: 8px;
                         margin-bottom: 5px;
               
                   background-color: black;
                   color: white;
                   border: none;
                   font-family: 'Sen', sans-serif;
                   border-radius: 5px;
                   cursor: pointer;
                    }
                    .btn-dark:hover{
                         -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
                         -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
                         box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
                         background-color: #2e2e2e;
                     }
                     .mybtn:hover{
                         -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
                         -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
                         box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
                         background-color: #2e2e2e;
                     }
               }

          }

          
     }
}
}

@media only screen and (max-width: 420px){

     .mycontainer{
          margin-top: 50px;
          text-align: center;
     
     width: 80%;
     padding-top: 50px;
     margin-left: auto;
     margin-right: auto;
     
     margin-bottom: 150px;
     padding-bottom: 50px;
     font-size: small;
     
          .subcontainer{
               margin-left: auto;
               margin-right: auto;
               font-family: 'Montserrat', sans-serif;
               font-weight: 800;
     
               
     .buttons{
     
          
          
     
     
               .btn-dark{
                    width: 40%;
                    height: 70px;
                    margin: 10px;
                    margin-bottom: 30px;
                   
               }
          }
     
               label{
                    margin-bottom: 0px;
               }
     
               .form-group{
     
               .form-select{
                    

                    margin: 10px;
                    width: 90%;
                    height: 50px;
                    display: inline;
                    
                  
               }
     
               .btn-dark{
                 
                    margin-top: 18px;
                    width: 45%;
               }
          }
     
               .presentation{
                    text-align: center;
                    
                    
                    form{
                         background-color: white;
                         
                    }
                    
     
                    .number{
                         width: 45%;
                         height: 60px;
                         padding: 10px;
                         text-align: center;
                         background-color: white;
                         margin-left: auto;
                         margin-right: auto;
                         margin-top: 20px;
                         margin-bottom: 30px;
                         border-radius: 6px;

                         .subnumber{
                              margin-top: 6px;
                              background-color: white;
                         }
                        
                         
                    }
                    .description{
                         width: 90%;
                         height: auto;
                         background-color: white;
                         border-radius: 6px;
                         margin-top: 20px;
                         margin-bottom: 20px;
                         margin-left: auto;
                         margin-right: auto;
                         padding-top: 10px;
                        
     
                         .date{
                           float: left;  
                           background-color: white;
                           padding-left: 4px;
                           margin-bottom: 10px;
                         }
                         .hair-text{
                           background-color: white;
                           padding: 5px;
                           margin-left: 10px;
                           margin-right: 10px;
                           margin-bottom: 10px;
                           margin-top: 30px;
                           
                         }
                         .btn-dark{
                              height: 100%;
                              width: 100%;
                              bottom: auto;
                         }
                    }
     
               }
     
               
          }
     }

}