// @import "bootstrap/scss/bootstrap";

@media only screen and (min-width: 420px){

.mycontainer{

    font-family: 'Sen', sans-serif;
    margin-top: 220px;
    text-align: center;
    width: 70%;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 33px;

    .form-group{


        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 800;



        .form-control{
           // margin: 10px;
           margin-top: 10px;
           margin-bottom: 15px;
           font-weight: 600;
           width: 200px;
           height: 30px;
           border: solid 1px gray;
           border-radius: 5px;
           margin-left: 10px;
        }



       
    }

   .message{
    //margin: 4px;
    margin-bottom: 14px;
    color: red;
    font-weight: 600;
   }

    .btn-dark{
        cursor: pointer;
                width: 200px;
                height: 35px;
                text-align: center;
                background-color: black;
                color: white;
                border: none;
                font-family: 'Sen', sans-serif;
                border-radius: 5px;
                margin-top: 16px;
    }
    .btn-dark:hover{
        -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
        background-color: #2e2e2e;
    }
}
}

@media only screen and (max-width: 420px){
    .mycontainer{

        font-family: 'Sen', sans-serif;
        margin-top: 100px;
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        border-radius: 33px;
    
        .form-group{
    
    
          
            
            font-weight: 800;
    
    
    
            .form-control{
                margin-top: 10px;
                margin-bottom: 15px;
                font-weight: 600;
                width: 240px;
                height: 30px;
                border: solid 1px gray;
                border-radius: 5px;
                // text-align: center;
                margin-left: auto;
            margin-right: auto;
            display: block;
                
            }
    
    
    
           
        }
    
       .message{
        //margin: 4px;
        margin-bottom: 19px;
        color: red;
        font-weight: 600;
       }
    
        .btn-dark{
            width: 200px;
                height: 35px;
                text-align: center;
                background-color: black;
                color: white;
                border: none;
                font-family: 'Sen', sans-serif;
                border-radius: 5px;
                margin-top: 16px;
        }
    }


}