

<div class="container">
    
        
    <div class="record">
        <div class="zero">
        <img src="assets\svg\localisation.svg" alt="localisation"> 
        </div>
        
        
        
        <div class="first">
        <a class="local" href="https://www.google.it/maps/place/Jagiello%C5%84ska+16,+38-500+Sanok,+Polska/@49.5585106,22.2014289,17z/data=!3m1!4b1!4m6!3m5!1s0x473c6d7f2e6a3f49:0x4fb69ce978f382f6!8m2!3d49.5585106!4d22.2036176!16s%2Fg%2F11c29b5nn0" target="_blank">
            ul. Jagiellońska 16, I piętro (Sanok)</a>
        </div>
    </div>



    <div class="record">
        <div class="zero">
            <img src="assets\svg\phone.svg" alt="phone">
        </div>

        
        <div class="first">
            <a>690-115-016</a>
        </div>
    </div>
    


    
    <div class="record">
        <div class="zero">
            <img src="assets\svg\mail.svg" alt="mail">
        </div>
        
        
        <div class="first">
            <a class="local" routerLink="/mail">hairbybieszczii@gmail.com</a>
        </div>
        <router-outlet></router-outlet>
    </div>
    
    
   
    
    

</div>
<!--<div class="footer">
    <div class="imagesFooter">
    <img class="imageFooter" src="assets\svg\facebook.svg">
    <img class="imageFooter" src="assets\svg\insta.svg">
</div>
<div class="signFooter">
    <a class="sign">Designed by Karol Melak</a>
</div>
</div> -->

