.container{
  
  margin-top: 1em;
  // border: solid;
  // border-width: 1px;
   padding: 1.5em;
   height: 140px;
        margin-right: 20%;
        margin-left: 20%;
         
        font-family: 'Montserrat', sans-serif;
        font-size: large;
        font-weight: 600;

        text-align: center;
      
        .record{
          margin-top: 50px;
        
        img{
          height: 50px;
          width: auto;
        }
       

        .zero{
         // border: 1px solid;
          margin: 15px;

        }
        .first{
         // border: 1px solid;
          margin: 15px;
          a{
            text-decoration: none;
            color: black;
          }
          .local:hover{
            color: #FF9898;
          }
        }

      }




 
}

/*.footer{
  // position: relative;
   bottom: 0;
top: 98%;
   .imagesFooter{
  .imageFooter{
   width: 40px;
   height: auto;
   margin: 4px;
  }}
  
  .signFooter{
  .sign{
   
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
  }}
 }*/
