.container{
  
  //border: 1px solid;

  margin-top: 10%;
  margin-left: 25em;
  margin-right: 25em;
  
  
  //text-align: center;

  
  
  .zero{



   // border: 1px dotted;
    margin: 1em;
    display: block;
  
    
 





  }
  .first{
    
  }
  

    
  img{
    width: 35px;
    height: auto;
    
  }
  a{
    padding-left: 2em;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    
  }


 
}
