
//@import "bootstrap/scss/bootstrap";


@media only screen and (min-width: 420px){
.mycontainer{
    margin-top: 180px;
    text-align: center;
    padding-bottom: 150px;
    font-family: 'Montserrat', sans-serif;

    h2{
        font-weight: 800;
    }

    .form-control{
        width: 400px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 11px;
        font-weight: 500;

        
    }
    label{
        margin-top: 10px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .btn-dark{
        margin-top: 10px;

        width: 400px;
        height: 60px;
    }
    .btn-dark2{
        margin-top: 20px;
        font-weight: 600;
        
       }
}
}
@media only screen and (max-width: 420px){

    .mycontainer{
        margin-top: 85px;
        text-align: center;
        padding-bottom: 40px;
        font-family: 'Montserrat', sans-serif;
            h2{
                font-weight: 800;
            }
    
        .form-control{
            width: 300px;
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2px;
            margin-bottom: 15px;
            font-weight: 500;
    
           
        }
        label{
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 800;
        }
        .btn-dark{
            margin-top: 10px;
            width: 300px;
            height: 60px;
        }
        .btn-dark2{
            margin-top: 20px;
            font-weight: 600;
            
           }
    }


}