
<div class="container">


  <div [@popState]="stateOfImg">
    <img class="main-img" src="{{image}}" alt="salon"/>
  </div>



  <!-- <button (click)="toggle()">TOGGLE</button> -->

    
    
    <div [@popState]="stateOfImg" class="message">
        <h1>Zapraszam</h1>
        
        <p class="welcome-text">
      W tym miejscu technika fryzjerska łączy się z artystycznym powołaniem
      dlatego będziesz mogła doświadczyć czegoś więcej niż zwykła wizyta u 
      fryzjera. Będę mogła zaoferować Ci szeroką paletę usług zaczynając od
      wstępnej konsultacji, aby zadbać w pierwszej kolejności o zdrowie Twoich 
      włosów. Poza strzyżeniem i koloryzacją wykonuje m.in. keratynowe prostowanie
      włosów, koktajle wzmacniające, maski nadające miękkość i elastyczność oraz 
      maski koloryzujące.
        </p>

    </div>
    
</div>
