

@media only screen and (min-width: 420px){

.container{
    margin: 3em;
    text-align: center;
    padding: 2em;
    margin-top: 177px;
    padding-bottom: 150px;
    .main-img{
        width: 750px;
        height: auto;
        border: solid 30px white;
        border-bottom:solid 150px white;
        border-radius: 2%;
    }
    .message{
        
        font-family: 'Montserrat', sans-serif;
        font-size: large;
        font-weight: 600;
        margin: 2em;
        margin-left: 20%;
        margin-right: 20%;
        .title2{
            margin: 1.5em;
        }
    }
}
}

@media only screen and (max-width: 420px) and (min-width: 281px){


    .container{
      
        text-align: center;
      
        display: block;

        padding-bottom: 130px;

        margin-top: 100px;
       
       

       .main-img{
            width: 340px;
            height: auto;
            border: solid 5px white;
            
          
        }
        .message{
            
            font-family: 'Montserrat', sans-serif;
            font-size: large;
            font-weight: 600;
            margin: 2em;
            .title2{
                margin: 1.5em;
            }
        }
    }







}

@media only screen and (max-width: 281px){
    .container{
      
        text-align: center;
      
        display: block;

        padding-bottom: 130px;

        margin-top: 100px;
       
       

       .main-img{
            width: 250px;
            height: auto;
            border: solid 5px white;
            
          
        }
        .message{
            
            font-family: 'Montserrat', sans-serif;
            font-size: large;
            font-weight: 600;
            margin: 2em;
            .title2{
                margin: 1.5em;
            }
        }
    }

}
