
<div class="container">
    <img class="main-img" src="assets/img/salon(proba).jpg" alt="salon"/>

    
    
    <div class="message">
        <h2>Zapraszam</h2>
        <br><br>
      W tym miejscu technika fryzjerska łączy się z artystycznym powołaniem
      dlatego będziesz mogła doświadczyć czegoś więcej niż zwykła wizyta u 
      fryzjera. Będę mogła zaoferować Ci szeroką paletę usług zaczynając od
      wstępnej konsultacji, aby zadbać w pierwszej kolejności o zdrowie Twoich 
      włosów. Poza strzyżeniem i koloryzacją wykonuje m.in. keratynowe prostowanie
      włosów, koktajle wzmacniające, maski nadające miękkość i elastyczność oraz 
      maski koloryzujące.

    </div>
</div>
