.container{
    margin: 2.5em;
    text-align: center;
    padding: 2em;
    display: block;
    .message{
        
        font-family: 'Montserrat', sans-serif;
        margin: 2em;
        .title2{
            margin: 1.5em;
        }
    }
}