<div class="container">
    <img src="assets/img/salon.jpg" alt="salon" width="650" height="auto"/>

    
    
    <div class="message">
        <h2>Zapraszamy</h2>
        <br><br>
      W tym miejscu technika fryzjerska łączy się z artystycznym powołaniem<br>
      dlatego będziesz mogła doświadczyć czegoś więcej niż zwykła wizyta u <br>
      ryzjera. Będę mogła zaoferować Ci szeroką paletęusług zaczynając od  <br>
      wstępnej konsultacji, aby zadbać w pierwszej kolejności o zdrowie twoich <br>
      włosów. Poza strzyżeniem i koloryzacją wykonuje m.in. keratynowe prostowanie<br>
      włosów, koktajle wzmacniające, maski nadające miękkość i elastyczność oraz <br>
      maski koloryzujące.

    </div>
</div>
