


@media only screen and (min-width: 420px){

.container{
    margin-top: 17em;
    text-align: center;
   // padding: 2em;
    display: block;
    padding-bottom: 160px;


    img{
        width: 600px;
        height: auto;
        border: 15px solid white;
        border-radius: 0.5%;
    }
}
}

@media only screen and (max-width: 420px){
    .container{
        margin-top: 5.5em;
        text-align: center;
        //padding: 2em;
        display: block;
        padding-bottom: 140px;
    
    
        img{
            width: 300px;
            height: auto;
            border: 5px solid white;
        }
}
}