
<br><br><br><br><br><br><br><br><br>
<div class="main">
    <div class="title"><a routerLink="/">Hair by Bieszczii</a></div>
   
         <br>
         <hr>
         <div class="navbar">
             <nav>
                   <ul class="nav_links">
                         <li><a routerLink="/about">O mnie</a></li>
                         <li><a routerLink="/gallery">Galeria</a></li>
                         <li><a routerLink="/pricelist">Cennik</a></li>
                         <li><a routerLink="/contact">Kontakt</a></li>
                   </ul>
             </nav>
          </div>
   
</div>
<div class="footer-main">
           <a href="https://pl-pl.facebook.com/people/Hair-by-Bieszczii/100063535570366" target="_blank">
            <img class="image-footer" src="assets\svg\facebook.svg">
           </a>
           <a href="https://www.instagram.com/hair_by_bieszczii/" target="_blank">
            <img class="image-footer" src="assets\svg\insta.svg">
           </a>

         <a href="https://www.instagram.com/karls.bands/" class="copy" target="_blank">Copyright &copy; 2022 Karol Melak</a>
      
</div>

   <router-outlet></router-outlet>





  
