<div class="main">
    <div class="title"><a routerLink="/">Hair by Bieszczii</a></div>
   
         <br>
         <hr>
         <div class="navbar">
             <nav>
                   <ul class="nav_links">
                         <li><a routerLink="/about">O mnie</a></li>
                         <li><a routerLink="/gallery">Galeria</a></li>
                         <li><a routerLink="/pricelist">Cennik</a></li>
                         <li><a routerLink="/contact">Kontakt</a></li>
                   </ul>
             </nav>
   </div>
   <router-outlet></router-outlet>
   </div>





  
