
@import "bootstrap/scss/bootstrap";


@media only screen and (min-width: 420px){

.mycontainer{

    margin-top: 220px;
    
    
    
   
        
        
        .btn-dark{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            width: 500px;
            height: 60px;
        }
   
}
}
@media only screen and (max-width: 420px){
    

    .mycontainer{

        margin-top: 95px;
        
        
        
       
            
            
            .btn-dark{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                width: 290px;
                height: 80px;
            }
       
    }

}