
// @import "bootstrap/scss/bootstrap";


@media only screen and (min-width: 420px){

.mycontainer{

    margin-top: 220px;
    
        .btn-dark{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 450px;
                height: 50px;
                text-align: center;
                background-color: black;
                color: white;
                border: none;
                font-family: 'Sen', sans-serif;
                border-radius: 5px;
                margin-top: 16px;
                cursor: pointer;
        }
        .btn-dark:hover{
            -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
            box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
            background-color: #2e2e2e;
        }
   
}
}
@media only screen and (max-width: 420px){
    

    .mycontainer{

        margin-top: 130px;
        
        
        
       
            
            
        .btn-dark{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 330px;
                height: 50px;
                text-align: center;
                background-color: black;
                color: white;
                border: none;
                font-family: 'Sen', sans-serif;
                border-radius: 5px;
                margin-top: 16px;
                
        }
       
    }

}