/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Baskerville:wght@700&family=Sen&display=swap');
// *{
    
//     // box-sizing: content-box;
    
//     // scroll-margin-bottom: 400px;
// }
body{
    // background-color: #F4D4C8;
    background-color: #FFF0F5;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 601px){

.main{

    display: block;
    margin: 0em;
    padding-top: 20px ;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 120px;
    opacity: 0.8;
    background-color: #FFF0F5;
    
    
.title{
    font-family: 'Aboreto', cursive;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    

    .mobile-menu{
       display: none;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
   
}

.navbar{
  
   text-align: center;
   z-index: 99;
   height: 53px;
   margin-top: 21px;
   background-color: #FFF0F5;

   .exit-icon{
    display: none;
   }
   
    li, a{
        font-family: 'Josefin Sans', sans-serif;
        // font-family: 'Libre Baskerville', serif;
        font-weight: 600;
        font-size: 40px;
        color:black;
        text-decoration: none;
        margin-top: 10px;
        // text-align: center;
    }

}
}
.nav_links{
    list-style: none;
    li{
        display: inline-block;
        padding: 0 20px;
        a{
            transition: all 0.3s ease 0s;
        }
    }

}
.nav_links li a:hover{
    color: #FF9898;
   
}
.nav_links li a:focus{
    color: #FF9898;
}


hr{
    width: 60%;
    border: none;
    height: 0.1px;
    margin: auto;

    background-color: black;
}

.navbar_mobile{
    display: none;
}

.myfooter{
    position:fixed;
    width:100%;
    bottom: 0;
    height: 40px;
    z-index: 99;

    .image-footer{
           width: 28px;
           height: auto;
           border-radius: 15%;
           margin: 3px;
           box-sizing: border-box;
           cursor: pointer;
           
       }
       
       .copy{
          float: right;  
          padding-top: 24px;
          padding-right: 5px;
          font-family: 'Sen', sans-serif;
          font-weight: 600;
          font-size: small;
          text-decoration: none;
          color: black;
          
        }
    
}
}

@media only screen and (max-width: 600px) and (min-width:281px) {

    .main{
        
        display: block;
        margin: 0em;
        cursor: pointer;
        position: fixed;
        top: 0px;
        z-index: 999;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 66px;
        opacity: 0.96;

        hr{
            display: none;
        }
        .navbar_mobile{
            opacity: 0.95;
            position: fixed;
            z-index: 999;
            width: 66%;
            right: 0;
            top: 0;
            background: white;
            height: 100vh;
            padding: 1em;
            // font-family: 'Sen', sans-serif;
            .nav_links_mobile{
                background-color: white;
                list-style-type: none;
                margin-top: 10em;
                a{
                    font-family: 'Sen', sans-serif;
                    font-weight: lighter;
                    font-size: 25px;
                }
            }

           .exit-icon{
                width: 40px;
                height: auto;
                margin-top: 0.2em;
                background-color: white;
                float: right;
                .exit-icon2{
                    background-color: white;
                    padding: 5px;
                   
                }
            }

            li{
                background-color: white;
                margin-top: 4em;
                text-align: right;
              
                
                a{
                    color: black;
                    text-decoration: none;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                    font-weight: 700;
                    margin: 1.5em;
                    // &:hover{
                    //     font-weight: bold;
                    //     color: pink;
                    // }
                }
            }

        }
      
        .title{
            font-family: 'Aboreto', cursive;
            
            font-size: 1.9em;
            cursor: pointer;
            padding-top: 15px;
            padding-bottom: 19px;
            background-color: #FFF0F5;
            
            opacity: 0.9;
            

            .mobile-menu{
                float: right;
                margin-right: 16px;
                //margin-left: 40px;
            
                
                width: 44px;
               
            }
            
            a{
                text-decoration: none;
                color: black;
                margin-left: 0.5em ;
            
            
            }
            
        }
        
    }
    .navbar{
        display: none;
    }
   
    .myfooter{
        position:fixed;
        width:100%;
        bottom: 0;
        display: inline-block;
        opacity: 0.8;
        z-index: 99;
        background-color: #FFF0F5;
        
           .image-footer{
               width: 29px;
               height: auto;
               border-radius: 15%;
               margin-left: 5px;
               margin-top: 6px;
               
           }
           
            .copy{
              float: right;  
              padding-top: 24px;
              padding-right: 5px;
            //   font-family: 'Montserrat', sans-serif;
            font-family: 'Sen', sans-serif;
              font-weight: 600;
              font-size: small;
              text-decoration: none;
              color: black;
              
            }
        
    }
}

@media only screen and (max-width: 281px) {




    .main{
           
        display: block;
        margin: 0em;
       
        cursor: pointer;
       
        
        position: fixed;
        top: 0px;
        z-index: 999;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 50px;
        opacity: 0.95;

       


        hr{
            display: none;
        }
        .navbar_mobile{
            opacity: 0.95;
            //display: none;
            position: fixed;
            z-index: 999;
            width: 66%;
            right: 0;
            top: 0;
            background: white;
            height: 100vh;
            padding: 1em;
            .nav_links_mobile{
                background-color: white;
                list-style-type: none;
                margin-top: 10em;
            }

           .exit-icon{
                width: 30px;
                height: auto;
                margin-top: 0.2em;
                background-color: white;
                float: right;
                .exit-icon2{
                    background-color: white;
                    padding: 5px;
                   
                }
            }

            li{
                background-color: white;
                margin-top: 4em;
                text-align: right;
              
                
                a{
                    color: black;
                    text-decoration: none;
                    background-color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 17px;
                    font-weight: 700;
                    margin: 1.5em;
                    &:hover{
                        font-weight: bold;
                        color: pink;
                    }
                }
            }

        }
   

      

        .title{
            font-family: 'Aboreto', cursive;
            
            font-size: 1.4em;
            cursor: pointer;
           
            padding-top: 15px;
            padding-bottom: 19px;
            background-color: #FFF0F5;
            
            opacity: 0.9;
            

            .mobile-menu{
                float: right;
                margin-right: 16px;
                //margin-left: 40px;
            
                
                width: 30px;
               
            }
            
            
            
            a{
                text-decoration: none;
                color: black;
                margin-left: 0.5em ;
            
            
            }
            
           
        
        }
        
    }
    .navbar{
        display: none;
    }
   
    .myfooter{
        position:fixed;
        width:100%;
        bottom: 0;
        display: inline-block;
        opacity: 0.8;
        z-index: 1;
           background-color: #FFF0F5;
        
        
        
        
        
           .image-footer{
               width: 27px;
               height: auto;
               border-radius: 15%;
               margin-left: 5px;
               margin-top: 6px;
            
               
           }
           
        
        
            .copy{
              float: right;  
              padding-top: 24px;
              padding-right: 5px;
              font-family: 'Montserrat', sans-serif;
              font-weight: 900;
              font-size: 11px;
              text-decoration: none;
              color: black;
              
            }
        
    }
}