
@media only screen and (min-width: 770px) {
.container{
    margin-top: 10em;
    padding: 2em;
    
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 130px;

    .info{
        text-align: center;
        
        
        a{
            margin-bottom:2em; 
            font-weight: 600;
        }
    }


.btnContainer{
text-align: center;
margin-bottom: 20px;

   
   
   a{
    font-weight: 600;
    font-size: 20px;
   }
    .button{
    width: 110px;
    height: 60px;
    border-radius: 90%;
    margin: 1em;
    filter: brightness(96%);
    border: none;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
   }
   .button:hover{
    filter: brightness(100%);
   }
}



   
    
    .small-container{
        
        height: 140px;
        margin-right: 20%;
        margin-left: 20%;
        font-size: 25px;
        
        
        .serwis-title{
      
            display: inline-block;
            margin: 0.5em;
            font-weight: 900;
            
            
            
    
        }
        .price-title{
            
            float: right;
            margin: 0.5em;
            font-weight: 900;
            
            
    
        }
            
    }
    
   
    
    .records{

        border-bottom: 1px dotted;
        margin-right: 20%;
        margin-left: 20%;
    .record{
      
      
        font-size: 17px;
        font-weight: 500;


        .serwis{
            display: inline-block;
            margin: 1em;
            font-weight: 900;
            font-size: 20px;
         

            
            
            
        }
        .price{
            float: right;
            margin: 1em;
            font-weight: 700;
           padding: 14px;
            border-radius: 99%;
         
            filter: brightness(96%);
            
            
        }
        .description{
           font-weight: 500;
        }


        margin-bottom: 1.5em;
    }
    
    
}
}
}
@media only screen and (max-width: 1025px) and (min-width: 420px){

    .container{
        margin-top: 10em;
   
        padding: 2em;
        
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 130px;
        
        .info{
            text-align: center;
            
            
            a{
                margin-bottom:2em; 
                font-weight: 600;
            }
        }

        .btnContainer{
            text-align: center;
            margin-bottom: 20px;
            
               
               
               a{
                font-weight: 600;
                font-size: 20px;
               }
                .button{
                width: 110px;
                height: 60px;
                border-radius: 90%;
                margin: 1em;
                filter: brightness(96%);
                border: none;
                font-weight: 600;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
               }
               .button:hover{
                filter: brightness(100%);
               }
            }
    
        
        .small-container{
            
            height: 140px;
            margin-right: 20%;
            margin-left: 20%;
            font-size: 25px;
            
            
            .serwis-title{
          
                display: inline-block;
                margin: 0.5em;
                font-weight: 900;
                
                
                
        
            }
            .price-title{
                
                float: right;
                margin: 0.5em;
                font-weight: 900;
                
                
        
            }
                
        }
        
       
        
        .records{
    
            border-bottom: 1px solid black;
            margin-right: 20%;
            margin-left: 20%;
        .record{
          
            
            font-size: 15px;
            font-weight: 500;
    
    
            .serwis{
                display: inline-block;
                margin: 1em;
                font-weight: 900;
                font-size: 18px;
             
    
                
                
                
            }
            .price{
                float: right;
                margin: 1em;
                font-weight: 700;
                font-size: 12px;
               padding: 14px;
                border-radius: 99%;
             
                filter: brightness(96%);
                
                
            }
            .description{
               font-weight: 500;
            }
    
    
            margin-bottom: 1.5em;
        }
        
        
    }
    }


}
@media only screen and (max-width: 420px) and (min-width: 281px){
    
    .container{




        margin-top: 0em;
       
        padding: 0em;
        
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 130px;

        .info{
            text-align: center;
            margin-top: 90px;
            
            a{
                margin-bottom:0em; 
                font-weight: 600;
            }
        }
        .helper{
            margin-top: 90px;
        }

        .btnContainer{
            text-align: center;
            margin-bottom: 20px;
            margin-top: 0px;
           
            
               
               
               a{
                font-weight: 600;
                font-size: 20px;
               }
                .button{
                width: 110px;
                height: 60px;
                border-radius: 20%;
                margin: 1em;
                filter: brightness(96%);
                border: 1px solid black;
                font-weight: 600;
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
               }
               .button:hover{
                filter: brightness(100%);
               }
            }
    
        
        .small-container{
            display: none;
            
            height: 100px;
            margin-right: 20%;
            margin-left: 20%;
            font-size: 25px;
            
            
            .serwis-title{
          
                display: none;
                margin: 0.5em;
                font-weight: 900;
                
                
                
        
            }
            .price-title{
                display: none;
                float: right;
                margin: 0.5em;
                font-weight: 900;
                
                
        
            }
                
        }
        
       
        
        .records{
            display: block;
    
            border-bottom: 1px dotted;
            margin-right: 20%;
            margin-left: 20%;
        .record{
          
          // padding: 5px;
          // padding-bottom: 25px;
            
            font-size: 17px;
            font-weight: 500;
    
    
            .serwis{
                display: inline-block;
                margin: 4px;
                font-weight: 900;
                font-size: 16px;
             
    
                
                
                
            }
            .price{
                float: right;
                margin: 1em;
                font-weight: 700;
                font-size: 10px;
               padding: 16px;
                border-radius: 99%;
             
                filter: brightness(96%);
                
                
            }
            .description{
               font-weight: 500;
               margin: 4px;
            }
    
    
            margin-bottom: 1.5em;
        }
        
        
    }
    }




}

@media only screen and (max-width:281px) {
    .container{






        margin-top: 0em;
       
        padding: 0em;
        
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 130px;

        .info{
            text-align: center;
            margin-top: 90px;
            
            a{
                margin-bottom:0em; 
                font-weight: 600;
            }
        }
        .helper{
            margin-top: 160px;
        }

        .btnContainer{
            text-align: center;
            margin-bottom: 20px;
            margin-top: 70px;
           
            
               
               
               a{
                font-weight: 600;
                font-size: 20px;
               }
                .button{
                width:80px;
                height: 40px;
                border-radius: 20%;
                margin: 0.5em;
                filter: brightness(96%);
                border: 1px solid black;
                font-weight: 600;
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
               }
               .button:hover{
                filter: brightness(100%);
               }
            }
    
        
        .small-container{
            
            height: 140px;
            margin-right: 20%;
            margin-left: 20%;
            font-size: 25px;
            display: none;
            
            
            .serwis-title{
          
                display: none;
                margin: 0.5em;
                font-weight: 900;
                
                
                
        
            }
            .price-title{
                display: none;
                float: right;
                margin: 0.5em;
                font-weight: 900;
                
                
        
            }
                
        }
        
       
        
        .records{
            display: inline;
    
            border-bottom: 1px dotted;
            margin-right: 20%;
            margin-left: 20%;
        .record{
          
          // padding: 5px;
          // padding-bottom: 25px;
            
            font-size: 17px;
            font-weight: 500;
    
    
            .serwis{
                display: inline-block;
                margin: 4px;
                font-weight: 900;
                font-size: 16px;
             
    
                
                
                
            }
            .price{
                float: right;
                margin: 1em;
                font-weight: 700;
                font-size: 10px;
               padding: 13px;
                border-radius: 99%;
             
                filter: brightness(96%);
                
                
            }
            .description{
               font-weight: 500;
               margin: 4px;
            }
    
    
            margin-bottom: 1.5em;
        }
        
        
    }
    }


    
}