<div [@popState]="stateOfImg" class="container">

   
    
    <div *ngIf="isValid">
        <!-- <div class="info"><a>*Każda usługa bez strzyżenia -50zł</a></div>
    <div class="btnContainer"><a>Zobacz też: </a><button class="button" (click)="changeViewOnTreatment()">{{btnName}}</button></div> -->

    <div class="small-container">
    <div class="serwis-title">
        Usługi
    </div>
    <div class="price-title">
        Cena
    </div>
    </div>
<div class="record">

    <div class="records" *ngFor="let lists of prices">
        
     
    
        
        <div class="serwis">
            {{lists.name}}
        </div>
        <div class="price">
            {{lists.price}}
        </div>
        
        <!-- <br><br> -->
       
       
    </div>
    <!-- <div class="description">
        {{lists.description}}
        <br><br>
    </div> -->
        
    </div>
    <!-- <br><br>
    <div class="btnContainer"><a>Zobacz też: </a><button class="button" (click)="changeViewOnTreatment()">{{btnName}}</button></div> -->

    </div>
    
    <!-- <div *ngIf="!isValid">
        <br>
        <div class="helper"></div>
        <div class="btnContainer"><a>Zobacz też: </a><button class="button" (click)="changeViewOnPriceList()">{{btnName}}</button></div>
    <div class="small-container">
        <div class="serwis-title">
            Zabiegi
        </div>
        <div class="price-title">
            Cena
        </div>
        </div>
    
    
        <div class="records" *ngFor="let treatmentLists of treatmentPrices">
         <br>
        <div class="record">
            
            <div class="serwis">
                {{treatmentLists.name}}
            </div>
            <div class="price">
                {{treatmentLists.price}}
            </div>
            
            <br><br>
           
           
        </div>
        <div class="description">
            {{treatmentLists.description}}
            <br><br>
        </div>
            
        </div>
        <br><br>
        <div class="btnContainer"><a>Zobacz też: </a><button class="button" (click)="changeViewOnPriceList()">{{btnName}}</button></div> -->
        <!-- </div> -->
</div>
