<div class="container">

    <div class="small-container">
    <div class="serwis-title">
        Usługi
    </div>
    <div class="price-title">
        Cena
    </div>
    </div>


    <div class="records" *ngFor="let lists of prices">
     <br>
    <div class="record">
        
        <div class="serwis">
            {{lists.name}}
        </div>
        <div class="price">
            {{lists.price}}
        </div>
        
        <br><br>
       
       
    </div>
    <div class="description">
        {{lists.description}}
        <br><br>
    </div>
        
    </div>
</div>
